<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/index.css"></link>
    <title>Document</title>
  </head>
  <body class="abc">
    Hello There !!!
    <!-- <form action="/" method="post"> -->
      <input type="text" name="text" id="text">
      <input id="textBtn" type="button" onclick="" value="text">
    <!-- </form> -->
    <!-- <form action="/todo/all" method="get"> -->
      <input id="refr" type="button" value="refresh">
    <!-- </form> -->
    <p id="allTodos"></p>
    <script src="../assets/js/main.js"></script>
  </body>
</html>
